SERVER_PORT=8080
JWT_SECRET=some-secret-key
DEBUG=true
DATABASE_URL=postgres://user:postgres_password@postgres:5432/messenger_db?sslmode=disable
POSTGRES_DB=messenger_db
POSTGRES_USER=user
POSTGRES_PASSWORD=postgres_password
REDIS_URL=redis://redis:6379
REDIS_PASSWORD=redis_password
MONGO_URL=mongodb://mongo:27017
MONGO_DB=messenger
MONGO_MESSAGES_COLLECTION=messages
MONGO_POSTS_COLLECTION=posts
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC_MESSAGES=messages